{%extends _layout%}
{%block content%}
<div class="row">
<div class="col-lg-12">
<h1 class="page-header">Asignar Departamentos y Secciones</h1>
</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading"> {{titulo}} <small>Ingrese las secciones correspondientes.</small></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label>Empresa: </label>
								{{form_input('empresa',empresa.nombree,'class="form-control" disabled=""')}}
								{{form_hidden('empresa_id',empresa.ide)}}
							</div><div class="form-group">
								<label>Departamento: </label>
								{{form_dropdown('departamento_id',departamento,'','class="form-control"')}}
								<button id="add_department" class="btn btn-info btn-circle" type="button">
									<i class="fa fa-plus"></i>
								</button>
								<button id="edit_department" class="btn btn-warning btn-circle" type="button">
									<i class="fa fa-edit"></i>
								</button>
								<button id="remove_department" class="btn btn-danger btn-circle" type="button">
									<i class="fa fa-remove"></i>
								</button>
							</div>
							<div class="form-group">
								<label>Seccion: </label>
								{{form_dropdown('seccion_id',secciones, '','class="form-control"')}}
								<button id="add_seccion" class="btn btn-info btn-circle" type="button">
									<i class="fa fa-plus"></i>
								</button>
								<button id="edit_seccion" class="btn btn-warning btn-circle" type="button">
									<i class="fa fa-edit"></i>
								</button>
								<button id="remove_seccion" class="btn btn-danger btn-circle" type="button">
									<i class="fa fa-remove"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
{%block javascript%}
{{parent()}}
<script>
 $(document).ready(function(){
 	
 });
 
</script>
{%endblock%}