<div id="container">
	<h1>Inserta Departamento!</h1>
	<div id="body">
		<p>Insertar Departamentos en el Sistema.</p>
		<form action="departamento/save/{{departamento.iddep}}" method="post" id="form">
		<!--{form_open("empleados/save")}-->
		<div class="form-group">
			<label>IDEEM: </label>
				{{form_input('ideem_none',id_empresa,"class='form-control' disabled=''")}}
				{{form_hidden('ideem',id_empresa)}}
		</div>
		<div class="form-group">
			<label>IDDEP: </label>
				{{form_input('iddep_none',departamento.iddep,"class='form-control' disabled=''")}}
				{{form_hidden('iddep',departamento.iddep)}}
		</div>
		<div class="form-group">
			<label>Departamento: </label>
				{{form_input('departamento',departamento.departamento,"class='form-control'")}}
		</div>
		<button type="submit" class ="btn btn-default btn-block">Guardar</button>			
		</form>
	</div>
</div>
<script type="text/javascript">
$( "#form" ).submit(function( event ) {
	tb_remove();
   new PNotify({
            title: 'Regular Notice',
            text: 'Check me out! I\'m a notice.',
            nonblock: {
					nonblock: true
				},
			delay: 3000
        });
  event.preventDefault();
});
</script>