{% extends _layout %}
{% block css %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{base_url()}}/bower_components/chosen/chosen.min.css">
{% endblock %}
{% block content %}

    <div class=row>
        <div role="main">
            <div class="bs-docs-header" tabindex="-1">
                <h1 id="overview" class="page-header">Registro de Picadas</h1>
                <p>Reporte de Entradas y Salidas, atrasos y horas trabajadas.</p>
                <p>Subir archivos de los relojes biométricos de huella o mano.</p>
        </div>
    </div>
    <div class=row>
        <div class=col-md-6>
            {{ form_open(controller_name~'/consulta_picadas/', {'id' : 'consulta_picadas_form','method':'post'})}}
            <div class="bs-docs-section">
                <h1 id="overview" class="page-header">
                    Registros de Picadas Empleados
                </h1>
                <p>Visor general de los registros de picadas realizadas por los empleados.</p>
                <div class="form-group">
                    <label>Empleados: </label>
                    {{form_dropdown('id_empleado',empleados,'','class="chosen-select form-control" data-placeholder="Seleccione un empleado"')}}
                    <label for="from">Desde</label>
                    <input type="text" id="from" name="from">
                    <label for="to">hasta</label>
                    <input type="text" id="to" name="to">
                    <button id="btn_consulta_picadas" class="btn btn-success">Consultar</button>
                </div>
            </div>
            {{form_close()}}
            </div>
        <div class=col-md-6>
            {{ form_open_multipart(controller_name~'/load_data_reloj/' ~ data_info._id, {'id' : 'picada_form','method':'post'})}}
            <div class="bs-docs-section" tabindex="-1">
                <h1 id="overview" class="page-header">Registro de Picadas</h1>
                <p>Subir datos.</p>
                <div id="required_fields_message"></div>
                {{  form_label('Seleccionar archivo:', 'archivo', {'class' : 'ssmall_wide'}) }}
                {{  form_upload({'type' : "file",'name' : "userfile",'id' : "userfile",'size' : "11"}) }}
                <button id="btn_subir_archivo" class="btn btn-success" >Subir Información</button>
            </div>
            {{form_close()}}
        </div>
        <div id="result"></div>
    </div>
{% endblock %}
{%block javascript%}
    {{parent()}}
    <script type="text/javascript" src="{{base_url()}}/bower_components/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="{{base_url()}}/js/manage_table.js"></script>
    <script>
        var oTable;
        $(document).ready(function () {
            $('#consulta_picadas_form').validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        success: function (response) {
                            $("#result").html("<div class='row'></div>");
                            if (response.response == false)
                                return true;
                            var horas_picar = "";
                            $.each(response.horario, function (key, value) {
                                if (key == "picadas")
                                    horas_picar = jQuery.parseJSON(value);
                                //$("#result").append("<div>" + value + "</div>")
                            });
                            var rango = [];
                            var max_minutos_extras = 60 * 4;
                            //append += "<label class='control-label'>"+response.horario.nombre +"</label>";
                            append = "<h4>"+response.empleado.nombre + " " + response.empleado.apellido +"</h4>";
                            append += "<div class='btn-group'>";
                            append += "<button type='button' class='btn btn-default'>"+ response.horario.nombre + "</button>";
                            
                            $.each(horas_picar, function (i, pica) {
                                hora_horario = parseInt(pica.split(":")[0]);
                                minuto_horario = parseInt(pica.split(":")[1]);
                                if (pica.split(" ")[1] == "PM")
                                    hora_horario += parseInt(12);
                                minutos_horario = hora_horario * 60 + minuto_horario;
                                //append += "<div class='col-sm-2'>" + pica + "</div>";
                                append += "<button type='button' class='btn btn-primary'>" + pica + "</button>";
                                rango.push(minutos_horario);
                            });
                            append += "</div>";
                            append += '<div class="row color-swatches"><div class="col-sm-2 color-swatch brand-default">Día</div>';   
                            $.each(horas_picar, function (i, pica) {
                                indice = Math.round(((parseInt(i)+1)/2));
                                if(i%2==0)
                                    append += '<div class="col-sm-2 color-swatch brand-success">Entrada ' + indice + '</div>';
                                else
                                    append += '<div class="col-sm-2 color-swatch brand-success">Salida ' + indice + '</div>';
                                //append += '<div class="row color-swatches"><div class="col-sm-2 color-swatch brand-primary">' + pica + "</div>";   
                            });
                            append += '<div class="col-sm-2 color-swatch brand-success">Horas Trabajadas</div>';
                            append += '<div class="col-sm-2 color-swatch brand-success">Horas Atrasos</div>';
                            append += '<div class="col-sm-2 color-swatch brand-success">Horas Extras</div>';
                            append += "</div>";
                            $("#result").append(append);
                            append = "";
                            //Chequea si hubo ya una picada anterior.
                            var picada_anterior = 0;
                            var cambia_dia = "";
                            id_dia = 0;
                            var cll_picadas = [];
                            for (var i = 0; i<response.picadas.cll_picadas.length; i++) {
                                var dia = "";
                                $.each(response.picadas.cll_picadas[i], function (key2, picadas) {
                                    if (cambia_dia != picadas.dia) {
                                        cambia_dia = picadas.dia;
                                        if (append != "")
                                            append += "</div>";
                                        append += '<div class="row color-swatches"><div class="col-sm-2 color-swatch brand-primary">' + cambia_dia + "</div>";
                                    }
                                    append += '<div class="col-sm-2 color-swatch ' + (picadas.fallo == "s/r"?"brand-danger":"brand-info") + '">' + picadas.tiempo + " " + "</div>";
                                });
                                    observacion = response.picadas.cll_observacion[i];
                                    append += '<div class="col-sm-2 color-swatch brand-default text-right">' + observacion.horas_trabajadas + ":" + observacion.minutos_trabajados + "</div>";
                                    append += '<div class="col-sm-2 color-swatch brand-default text-right">' + observacion.horas_atrasos + ":" + observacion.minutos_atrasos + "</div>";
                                    append += '<div class="col-sm-2 color-swatch brand-default text-right">' + observacion.horas_extras + ":" + observacion.minutos_extras + "</div>";
                                //});
                                append += "</div>";
                            };
                            append += '<div class="row color-swatches">';
                            $.each(horas_picar, function (i, pica) {   
                                //if(pica!= horas_picar[horas_picar.length-1])
                                append += '<div class="col-md-offset-4 col-md-2 color-swatch brand"></div>';
                            });
                            var resumen = response.picadas.resumen;
                            append += '<div class="col-md-offset-4 col-md-2 color-swatch brand-success">Total</div>';
                            append += '<div class="col-sm-2 color-swatch brand-success text-right">' + resumen.tot_horas_trabajadas + ":" + resumen.tot_minutos_trabajados+ "</div>";
                            append += '<div class="col-sm-2 color-swatch brand-success text-right">' + resumen.tot_horas_atrasos +":" + resumen.tot_minutos_atrasos + "</div>";
                            append += '<div class="col-sm-2 color-swatch brand-success text-right">' + resumen.tot_horas_extras + ":" + resumen.tot_minutos_extras+ "</div></div>";
                            $("#result").append(append);
                        },
                        dataType: 'json'
                    });
                },
                errorLabelContainer: "#required_fields_message",
                wrapper: "li",
                rules: {
                    to: {
                        required: true
                    },
                    from: {
                        required: true
                    }
                },
                messages: {
                    to: {
                        required: "Favor escojer una fecha hasta"
                    },
                    from: {
                        required: "Favor escojer una fecha desde"
                    }
                },
                debug: false
            });

            $(".chosen-select").chosen({no_results_text: 'No existe ese empleado!'});

            $.validator.addMethod('filesize', function (value, element, param) {
                return this.optional(element) || (element.files[0].size <= param);
            });

            $('#picada_form').validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        success: function (response) {
                            alert("alfin");
                        },
                        dataType: 'json'
                    });
                },
                errorLabelContainer: "#required_fields_message",
                wrapper: "li",
                rules: {
                    userfile: {
                        required: true,
                        extension: "log|txt|dat",
                        filesize: 5242880
                    }
                },
                messages: {
                    userfile: {
                        required: "Favor escojer un archivo",
                        extension: "El archivo debe ser log o txt.",
                        filesize: "El archivo debe ser menor a 5MB"
                    }
                },
                debug: false
            });

            $(function () {
                $("#from").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 3,
                    onClose: function (selectedDate) {
                        $("#to").datepicker("option", "minDate", selectedDate);
                    }
                });
                $("#to").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 3,
                    onClose: function (selectedDate) {
                        $("#from").datepicker("option", "maxDate", selectedDate);
                    }
                });
            });


        });
        function post_picadas_form_submit(response) {
            if (!response.success) {
                set_feedback(response.message, "{{controller_name|upper}}", 'error');
            }
            else {
                if (jQuery.inArray(response.id, get_visible_checkbox_ids()) != -1) {
                    update_row(response.id, "{{ site_url(controller_name~"/get_row")}}");
                    set_feedback(response.message, "{{controller_name|upper}}", 'success');
                }
                else {
                    do_search(true, function () {
                        hightlight_row(response.id);
                        set_feedback(response.message, "{{controller_name|upper}}", 'success');
                    });
                }
            }
        }
    </script>
{% endblock %}