{#<input name='horario_{{(loop.parent.loop.index?loop.parent.loop.index:'1')}}[]' type='text' class="form-control" value="{{horarios}}"/>#}
<div class='form-group form-inline horario_especial'>
{{ form_dropdown('horario_'~(loop.parent.loop.index?loop.parent.loop.index:'1'),horarios,data.id_horario,'class="chosen-select form-control" data-placeholder="Escoje un horario"') }}
<div class='input-group date' id='datetimepicker3'>
    <input name='fecha_horario_{{(loop.parent.loop.index?loop.parent.loop.index:'1')}}' type='text' class="form-control" value="{{data.fecha_creacion}}"/>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
    </span>
    <div class="btn-group">
        <button id="btn_nuevo" type="button" class="btn btn-success">Nuevo</button>
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a id="btn_borrar" href="#">Borrar</a></li>
        </ul>
    </div>
</div>
</div>