<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>{{title}}</title>
        {% block css %}
        <link rel="stylesheet" type="text/css" href="{{base_url()}}/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{base_url()}}/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css">
        <link rel="stylesheet" type="text/css" href="{{base_url()}}/bower_components/jquery-ui/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{base_url()}}/bower_components/metisMenu/dist/metisMenu.css">
        <link rel="stylesheet" type="text/css" href="{{base_url()}}/bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="{{base_url()}}/bower_components/pnotify/pnotify.core.css">
        <link rel="stylesheet" type="text/css" href="{{base_url()}}/bower_components/datatables/media/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="{{base_url()}}/css/reloj.css">
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
        	{% include "_layouts/menu.html.twig" %}
            <div id="page-wrapper">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
    	   <footer>
    		  <p>Copyright 2015 Biométrico</p>
    	   </footer>
        </div>
        {%block javascript%}
        <script type="text/javascript" src="{{base_url()}}/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="{{base_url()}}/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
        <script type="text/javascript" src="{{base_url()}}/bower_components/jquery-form/jquery.form.js"></script>
        <script type="text/javascript" src="{{base_url()}}/bower_components/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="{{base_url()}}/bower_components/metisMenu/dist/metisMenu.js"></script>
        <script type="text/javascript" src="{{base_url()}}/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js">></script>
        <script type="text/javascript" src="{{base_url()}}/bower_components/pnotify/pnotify.core.js"></script>
        <script type="text/javascript" src="{{base_url()}}/js/main.js"></script>
        <script type="text/javascript" src="{{base_url()}}/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <script>
        PNotify.prototype.options.styling = "bootstrap3";
        </script>
        {%endblock%}
    </body>

</html>