<div id="container">
    <h1>Inserta Empleado!</h1>

    <div id="body">
        <p>Insertar empleados en el Sistema.</p>
        {{titulo}}
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#info-tab" data-toggle="tab">Información <i class="fa"></i></a></li>
            <li role="presentation"><a href="#seguridad-tab" data-toggle="tab">Seguridades</a></li>
          </ul>
        <form action="empleados/save/{{data.id}}" method="post" id="empleado_form">
            <!--{form_open("empleados/save")}-->
            <div class="tab-content">
        <div class="tab-pane active" id="info-tab">
            <div class="form-group">
                <label>Nombres: </label>
                <input name="nombre" class='form-control' value="{{data.nombre}}"/>
            </div>
            <div class="form-group">
                <label>Apellidos: </label>
                <input name="apellido" class='form-control' value="{{data.apellido}}"/>
            </div>
            <div class="form-group">
                <label>Edad: </label>
                <input name="edad" class='form-control' value="{{data.edad}}"/>
            </div>
            <div class="form-group">
                <label>Cedula: </label>
                <input name="cedula" class='form-control' value="{{data.cedula}}"/>
            </div>
            <div class="form-group">
                <label>Estado Civil: </label>
                {{form_dropdown('estadocivil',{casado:"Casado/a",soltero:"Soltero/a",viudo:"Viudo/a",hecho:"Unión de Hecho"},data.estadocivil,'class=form-control')}}
            </div>
            <div class="form-group">	
                <label>Dirección: </label>
                <input name="direccion" class='form-control' value="{{data.direccion}}"/>
            </div>
            <div class="form-group">
                <label>Cargo: </label>
                {{form_dropdown('id_cargo',cargos,data.id_cargo,'class="chosen-select form-control" data-placeholder="Escoje un horario"')}}
            </div>
            <div class="form-group">
                <label>Horario: </label>
                {#form_dropdown('id_horario',horarios,data.id_horario,'class="chosen-select form-control" data-placeholder="Escoje un horario"')#}
                
                {% for horario in horarios %}
                    {% include '_layouts/horario_especial.html.twig' %}
                {% else %}
                    {% include '_layouts/horario_especial.html.twig' %}
                {% endfor %}
                
            </div>
            <div class="form-group">
                <label>Sección: </label>
                {{form_dropdown('id_seccion', secciones, data.id_seccion, 'class="chosen-select form-control" data-placeholder="Escoja una sección"')}}
            </div>
            <div class="form-group">	
                <label>ID Reloj: </label>
                <input name="id_reloj" class='form-control' value="{{data.id_reloj}}"/>
            </div>
            <div class="form-group input-group date">
                <label>Fecha Ingreso: </label>
                <input name="fecha_ingreso" class='form-control' value="{{data.fecha_ingreso}}"/>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
             </div>

        <div class="tab-pane" id="seguridad-tab">
            <!--Form Permissions-->
            <fieldset id="employee_login_info">
    <legend>{{ line("empleado_login_info") }}</legend>
    <div class="form-group">	
        {{ form_label(line('empleados_username') ~ ':', 'username', {'class' : ''}) }}
        <div class='form_field'>
            {{form_input({'name' : 'username','id' : 'username','value' : person_info.username,'class':"form-control"})}}
        </div>
    </div>

    {% set password_label_attributes = person_info.person_id == "" ? "'class' : 'required'" : ""%}
    <div class="form-group">	
            {{ form_label(line('empleados_password') ~ ':', 'password', password_label_attributes) }}
        <div class='form_field'>
            {{form_password({'name' : 'password','id' : 'password','class':"form-control"})}}
        </div>
    </div>

    <div class="form-group">	
            {{ form_label(line('empleados_repeat_password') ~ ':', 'repeat_password', password_label_attributes) }}
        <div class='form_field'>{{ form_password({'name' : 'repeat_password','id' : 'repeat_password','class':"form-control"} ) }}</div>
    </div>
</fieldset>

<fieldset id="employee_permission_info">
    <legend>{{ line("empleados_permission_info") }}</legend>
    <p>{{ line("empleados_permission_desc") }}</p>

    <ul id="permission_list">

{% for module in all_modules %}
            <li>	
            {{ form_checkbox("permissions[]", module.module_id, module.permiso) }}
                <span class="medium">{{ line('module_' ~ module.module_id) }}:</span>
                <span class="small">{{ line('module_' ~ module.module_id ~ '_desc') }}</span>
            </li>
        {% endfor %}
    </ul>
    {{ form_submit({'name' : 'submit','id' : 'submit','value' : line('common_submit'),'class' : 'submit_button float_right'}) }}
</fieldset>
    </div>
    </div>
            <!--End Form Permissions-->
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        jQuery('[name="fecha_ingreso"]').datetimepicker({format: 'YYYY-MM-DD'});
        $('[name="id_cargo"]').chosen({no_results_text: 'No existe ese cargo!'});
        $('[name="id_horario"]').chosen({no_results_text: 'No existe ese horario!'});
        $('[name="id_seccion"]').chosen({no_results_text: 'No existe esa sección!'});

        $('#empleado_form').validate({
            excluded: [':disabled'],
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    success: function (response) {
                        tb_remove();
                        post_empleados_form_submit(response);
                    },
                    dataType: 'json'
                });
            },
            errorLabelContainer: "#error_message_box",
            wrapper: "li",
            rules: {
                comentario: "required",
                cedula: {
                    required: true,
                    number: true,
                    rangelength: [10, 13]
                },
                edad: {
                    number: true,
                    maxlength: 2
                },
                id_reloj:"number",
                username:"required"
            },
            messages: {
                comentario: "Comentario Requerido",
                cedula: {
                    required: "La Cédula o RUC es requerido",
                    number: "Favor ingrese un número de RUC o Cédula válido",
                    rangelength: "Al menos debe tener 10 o 13 caracteres.",
                },
                edad: {
                    number: "Favor ingrese una edad correcta",
                    maxlength: "Ingrese una edad menor a 100 años",
                },
                id_reloj: "Favor ingrese un valor numérico"
            }
        });
    });
</script>