{%extends _layout%}
{%block content%}
<div id="container">
	<h1>Lista Empleado!</h1>
	<div id="body">
		<p>Listado de empleados en el Sistema.</p>
		<div class="demo_jui">
			{{admin_table }}
		</div>
		<a href="{{ site_url('empleados')}}/buscar_vista">Buscar</a>
	<p>
		<a href="{{ site_url("empleados")}}/view?height=500" class="btn btn-info modal_btn">Nuevo</a>
	</p>
{%endblock%}
{%block javascript%}
{{parent()}}
<script>
var oTable;
$(document).ready(function(){
	oTable = $('#sortable_table').dataTable( {
					"bProcessing": true,
					"bServerSide": true,
					"bJQueryUI": true,
					"sPaginationType": "full_numbers",
					"sAjaxSource": '{{ site_url(controller_name~"/mis_datos")}}',
					"aaSorting": [[ 5, "desc" ]],
						"fnDrawCallback": function() {
							imgLoader = new Image();// preload image
							imgLoader.src = tb_pathToImage;
							enable_row_selection();
							enable_email('{{ site_url(controller_name~"/mailto")}}');
						}
					} );
					$('#refresh').click(refresca);
								
} );
</script>
{%endblock%}